@charset "utf-8";
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    }
/* Responsive */
@media (max-width: 375px){
    }
/* Menu */
#menu img {
    float: left;
    margin-left: 20px; 
    }
#menu ul {
    list-style-type: none;
    text-align: center;
    }
#menu li {
    color: white;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: 5%;
    }
#menu a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 20px;
    }
#menu a:hover {
    background: #D5D5D5;
    color: #EA5455;
    }
/* Body */
h1 {
    color: white;
    text-align: center;
    }
body {
    background-color: #00142D;
    }
hr {
    margin-left: 46%;
    }
h3 {
    color: #EA5455;
    text-align: center;
    }
/* Home */
#home {

    }
/* aboutme */
#aboutme {
    text-align: center;
    }
.infotro1 {
    color: white;
    float: left;
    padding-right: 100px;
    margin-left: 20px;
    margin-right:20px;
    }
.infotro2 {
    color: white;
    padding-right: 10px;
    margin-left: 20px;
    margin-right:20px;
    }
/* My Porfolio */
#myporfolio {
    text-align: center;
    }
/* Blog */
#blog {
    text-align: center;
    }
.itemblog {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    flex-flow: row wrap;
    }
.iconblog {
    flex: 1 0;
    border: 1px solid #EA5455 ;
    border-radius: 5px;
    margin-left: 50px;
    margin-bottonm: 50px;
    padding: 20px;
    text-align: center;
    }
.itemblog i {
    font-size: 60px;
    color: white;
    margin-bottom: 5px;
    }
.itemblog h3 {
    color: #EA5455;
    font-weight: bold;
    }
.itemblog p {
    color: white;
    font-style: olique;
    }
    
/* Melody */
h4 {
    color: #EA5455;
    text-align: center;
    }
.song {
    color: white;
    flex: 1 0;
    text-align: center;
    }
/* Contact me */
#contactme {
    text-align: center;
    color: white;
    }
 /* Footer */
#footer {
    color: #EA5455;
    background-color: #00142D;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 0.9%;
    padding-bottom: 0.9%;  
    }
#footer a {
    color: white;
    font-size: 25px;
    margin-left: 0.6%;
    }
#footer h5 {
    font-style: italic;
    }
    
