@charset "UTF-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}
#outer {
    width: 960px;
    height: auto;
/*    background: #F6F6F6;*/
    margin: 0 auto;
}
#header {
    width: 960;
    height: 80px;
/*    background: #FFC7C7;*/
}
#wrapper-header {
    width: auto;
    height: auto;
    margin-left: 40px;
}
/*logo*/
#logo {
    width: 192px;
    height: 80px;
/*    background: #AAAAAA;*/
    float: left;
}
#logo img {
    height: 50px;
    float: left;
    margin-left: 75px;
    margin-top: 10px;
}
/*menu*/
.menu uno{
    width: 768px;
    height: 80px;
/*    background: #94b4a4;*/
    float: left;
}
.menu ul li {
    list-style: none;
    text-transform: uppercase;
    width: 110px;
    height: 20px;
    text-align: center;
    margin-top: 30px;
    float: left;
}
.menu ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
}
.menu ul li a:hover {
    color: #f56a79;
}
#intro {
    width: 960px;
    height: auto;
    position: relative;
}
#intro img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}
#text {
    font-size: 40px;
    font-family:  Countryside, Courier, "Euphemia UCAS Bold", "Euphemia UCAS Italic";
    color: #d7385e;
    float: left;
    position: absolute;
    top: 140px;
    left: 40px;
    line-height: 100px;
}
#aboutus {
    width: 960px;
    height: 450px;
/*    background: #f4d9c6;*/
}
#title1 {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
    padding: 30px;
}
#function1 img {
    width: 250px;
    height: 250px;
    margin-right: 25px;
    margin-left: 35px;
}
#function2 p {
    width: 250px;
    height: 20px;
    margin-right: 25px;
    margin-left: 35px;
    float: left;
    text-align: center;
    font-size: 25px;
}
#post {
    width: 960px;
    height: 750px;
/*    background: #b2deec;*/
    border-top: #000101 double
}
#title2 {
    text-align: center;
    line-height: 100px;
}
#slide {
    width: 960px;
    height: 620px;
/*    background: #b2deec;*/
    position: relative;
    
}
.slide-post img {
    width: 960px;
    position: absolute;
    top: 0px;
    vertical-align: middle;
}
.title {
    color: black;
    background: #F4F1F1;
    font-size: 50px;
    position: absolute;
    text-align: center;
    width: 30%;
    bottom: 0px;
}
.active {
    background-color: #717171;
}
.fade {
     -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
}
@-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
}

@keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
}
#healthy {
    width: 960px;
    height: 320px;
/*    background: #fadcaa;*/
}
#title3 {
    width: 180px;
    text-align: center;
    line-height: 50px;
    border-bottom: #000000 solid;
    margin: 0 auto;
    padding-top: 30px;
}
#special1 {
    margin-top: 20px;
    font-family:  Countryside, Courier, "Euphemia UCAS Bold", "Euphemia UCAS Italic";
    font-size: 30px;
    color: #A30104;
}
#normal {
    font-family:  Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    line-height: 40px;
    font-size: 25px;
    text-align: center;
}
#special2 {
    font-family:  Countryside, Courier, "Euphemia UCAS Bold", "Euphemia UCAS Italic";
    font-size: 30px;
    color: #A30104;
    text-align: center;
}
#content1 {
    width: 960px;
    float: left;
}
#insta {
    border-top: #fcdada dashed; 
    margin-top: 30px;
    width: 960px;
    height: 530px;
/*    background: #F6F7D4;*/
    font-size: 40px;
    color: black;
    text-align: center;
}
#title4 {
    margin-top: 30px;
}
.ins img {
    width: 250px;
    height: 350px;
    margin-right: 15px;
    padding-left: 20px;
    padding-top: 50px;
}
.ins img:hover {
    transform: scale(1.2);
    transition: all 1s;
}
#footer {
    color: white;
    background-color: #f56a79;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;  
    }
#footer a {
    color: white;
    font-size: 25px;
    margin-left: 0.6%;
    }
#footer h5 {
    font-style: italic;
    }


